API_ID=22232960
API_HASH=86b621b89263ef81728ea992262c8e27
BOT_TOKEN=7790466928:AAFnEJkF7ceQNIpC9lVNv3uoA9J_BeDB2Qg
LOGGER_ID=-1002867654657
MONGO_DB_URI=mongodb+srv://Sweettoxic:Sweettoxic@sweettoxic.mg57v4c.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=6829790680
STRING_SESSION=BQFTP4AAqLHPfaJAsl7iqhMbELLcxK6UxEjG_KBtE_nTnht-B8ubZylTV6R_i_mxxkqSVWa9SrCuGdSQiDGq0fnLZ54a-cGWfWqok5rVC_2xJWl4s3Rpzcxw3iLgP15xgVS9bE_ibzSZM-FU4XIHFjCC_5w7sbnFmeDj9eL3nwmS7JaUFspf31Z3wVZ00kivups4EtqarIRRtTdlRUMXFUne5tiS9PtKHw0jaZfCCXdriounHWCm9A07zjUHBtGEXF0ljYEalL6Z7vL5pY75-h9JQnHWVUmdeWgCw3PtKWY_C_pQmcuosd3XCR9e5qyXgGHOwDENvLYi3Vqtulk0CRI6Ef_59QAAAAHeIMNFAA
